<launch>

   <!-- Posix SITL environment launch script -->
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="est" default="lpe"/>
    <arg name="vehicle" default="iris"/>
    <arg name="world" default="$(find architecture)/worlds/force_waypoint_sequence.world"/>
    <arg name="sdf" default="$(find mavlink_sitl_gazebo)/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <arg name="rcS" default="$(find px4)/posix-configs/SITL/init/$(arg est)/$(arg vehicle)"/>

    <arg name="headless" default="false"/>
    <arg name="gui" default="true"/>
    <arg name="ns" default="/"/>

    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>

    <rosparam file="$(find architecture)/cfg/exploration_params.yaml" command="load" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find architecture)/Tools/exploration_ltstarPaths.rviz" />

    <!-- #######################  Octomap  ######################################## -->
    <!-- <node pkg="octomap_server" type="octomap_server_node" name="octomap_builder" output="screen" args="/ros_ws/src/path_planning/test/data/d.bt">
        <param name="frame_id" type="string" value="map" />   
        <remap from="cloud_in" to="/free_cloud" />
        <param name="latch" value="false" />
        <param name="resolution" value="1" />
        <param name="pointcloud_min" value="0"/>
        <param name="pointcloud_max" value="2"/>
        <param name="occupancy_min" value="0.5"/>
        <param name="occupancy_min" value="1"/>
        <param name="publish_free_space" value="true"/>
        <param name="sensor_model/max_range" value="laser_max_range"/>
    </node> -->
    <!-- ########################################################################## --> 
  <!-- Lazy theta * --> 
  <node pkg="frontiers" type="frontiers_debug_node" name="frontiers_debug" output="screen"/>
  <!-- ########################################################################## -->
    <!-- Architecture nodes -->

</launch>

<!-- vim: set et ft=xml fenc=utf-8 ff=unix sts=0 sw=4 ts=4 : -->
