<launch> 
 
  
 
  <!-- ########################################################################## --> 
  <!-- OCTOMAP --> 
  <node name="octomap_global_planner_server" pkg="octomap_server" type="octomap_server_node" respawn="true" clear_params="true" output="screen" args="/ros_ws/src/lazy_theta_star/test/data/fr_campus.bt">    
    <param name="frame_id" type="str" value="/world" />
  </node>
 
  
 
 
 
 
 
  <!-- ########################################################################## --> 
  <!-- Lazy theta * --> 
  <node pkg="lazy_theta_star" type="ltStar_dispatcher_node" name="ltstar_printer" output="screen"/>
</launch>
