<launch>



  <node name="mapper" type="octomap_server_node" pkg="octomap_server" output="screen" >
    <remap from="cloud_in" to="/velodyne_points" />
    <param name="pointcloud_min_z" value="-0.5" />
    <param name="occupancy_min_z" value="-0.5" />
    <param name="frame_id" value="map" />
    <param name="resolution" value="0.2" />
  </node>

 <!--node pkg="tf" type="static_transform_publisher" name="map_to_world_tf_broadcaster" args="0 0 0 0 0 0 1 /euroc5 /base_link 100" /-->

</launch>
