<?xml version="1.0"?>

<model>
  <name>puzzle_world</name>
  <version>1.0</version>
  <license></license>
  <sdf version="1">model.sdf</sdf>

  <author>
    <name>Margarida Faria</name>
    <email>margaridacostafaria@gmail.com</email>
  </author>

  <description>
    A 3D puzzle. Large.
  </description>
</model>
