<launch>
    
    <!-- #######################   Rviz   ############################# -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find architecture)/rviz_configurations/realUAV.rviz" />

    <!-- #######################    Log   ############################# -->
    <node pkg="rosbag" type="play" name="rosbag_playback" output="screen" 
       args="--clock /media/mfaria/Ganesha/20171219_backup_home_catec/Margarida/20180705_karting_experiments/experimental_data/20180821_1110_manyRuns_karting_filterTfScanPose.bag "/>

</launch>

