<launch>
    
    <!-- #######################   Rviz   ############################# -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find architecture)/rviz_configurations/exploration_ltstarPaths.rviz" />

    <!-- #######################  Octomap  ######################################## -->
    <node name="octomap_global_planner_server" pkg="octomap_server" type="octomap_server_node" respawn="true" clear_params="true" output="screen" args="$(find lazy_theta_star)/test/data/20180821_1110_42712_raw.bt">    
        <param name="frame_id" type="str" value="/map" />
        <param name="publish_free_space" value="true"/>
    </node>
    <!-- #######################  Architecture nodes  ############################# -->
    <node name="lazy_theta_star"    type="ltStar_async_node"    pkg="lazy_theta_star" output="screen" /> 

</launch>

