<launch>
    <arg name="world_frame_name"    default="world"/>
    <arg name="uav_frame_name"      default="base_link"/>
    <arg name="hokuyo_frame_name"   default="hokuyo"/>
    
    <!-- #######################  Mavros   ######################################## -->
    

    <!-- #######################  Octomap  ######################################## -->
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_builder" output="screen">
        <param name="frame_id" type="string"    value="map" />   
        <remap from="cloud_in" to="/free_cloud" />
        <param name="latch"                     value="false" />
        <param name="publish_free_space"        value="true"/>
        <param name="sensor_model/max_range"    value="15"/>
        
        <param name="sensor_model/hit"          value="0.74"/>
        <param name="sensor_model/miss"         value="0.48464"/>
        
        <param name="resolution"                value="0.5" />
    </node>


    <!-- #######################  Architecture nodes  ############################# -->
    

    <!-- #######################    TF    ############################# -->    
    <node pkg="tf" type="static_transform_publisher" name="local_position_to_hokuyo" args="0.22 0 -0.2 0 -0.872665 3.14159 base_link laser 100" />
    <!-- <node pkg="tf" type="static_transform_publisher" name="world_to_map" args="0 0 0 0 0 0 1 world map 100" /> -->


    <!-- #######################  Hokuyo  ############################# -->
    <node name="hokuyo"         pkg="urg_node"      type="urg_node" output="screen" >
        <param name="ip_address" value="192.168.0.10"/>
        <param name="skip"       value="0"/>
        <param name="cluster"    value="1"/>
    </node>
    <node name="laser_filter" type="scan_to_cloud_filter_chain" pkg="laser_filters">
        <rosparam command="load" file="$(find architecture)/cfg/realUav_params.yaml" />
        <param name="target_frame"   value="base_link" />
        <remap from="cloud_filtered" to="free_cloud" />
    </node>  
</launch>

