<launch>
    <arg name="world_frame_name"    default="world"/>
    <arg name="uav_frame_name"      default="base_link"/>
    <arg name="hokuyo_frame_name"   default="hokuyo"/>

    <!-- #######################  Mavros   ######################################## -->
    

    <!-- #######################  Octomap  ######################################## -->
    

    <!-- #######################  Architecture nodes  ############################# -->
    <rosparam file="$(find architecture)/cfg/realUav_params.yaml" command="load" />
    <!-- <node name="mav_comms"     type="mav_comms_node"       pkg="architecture"  output="screen" /> -->
    <node name="state_manager"      type="state_manager_node"   pkg="architecture"  output="screen" />
    <node name="frontier_cells"     type="frontiers_async_node" pkg="frontiers"     output="screen" />
    <node name="lazy_theta_star"    type="ltStar_async_node"    pkg="lazy_theta_star" output="screen" />
    <node name="middle_man_current_position" type="current_position_provider_node" pkg="architecture"  output="screen" />

    <!-- #######################    TF    ############################# -->    


    <!-- #######################  Hokuyo  ############################# -->

</launch>

