<launch>
    <arg name="world_frame_name"    default="world"/>
    <arg name="uav_frame_name"      default="base_link"/>
    <arg name="hokuyo_frame_name"   default="hokuyo"/>
    
    <!-- #######################  Mavros   ######################################## -->
    <arg name="multi" default="false"/>
    <arg name="ns_prefix" default="uav_"/>
    <arg name="mode" default="serial"/>
    <arg name="pose_frame_id" default=""/>
    <!-- To publish ual/pose in other frame than local, e.g. map -->
    <arg name="ual_server" default="on"/>
    <arg name="ual_pub_rate" default="30.0"/>
    <arg name="mavros_offboard_rate" default="30.0"/>

    <include file="$(find px4_bringup)/launch/spawn_robot.launch" ns="$(arg ns_prefix)1">
        <arg name="id" value="1"/>
        <arg name="material" value="Blue"/>
        <arg name="mode" value="$(arg mode)"/>
        <arg name="x" value="0"/>
        <arg name="y" value="0"/>
        <arg name="z" value="0"/>
        <arg name="yaw" value="0"/>
        <arg name="robot_model" value="iris_hokuyo"/>

    </include>
    <!-- #######################  Octomap  ######################################## -->
    

    <!-- #######################  Architecture nodes  ############################# -->
    <rosparam file="$(find architecture)/cfg/realUav_params.yaml" command="load" />
    <!-- Launch UAL server for uav id=1 -->
    <node pkg="architecture" type="ual_server" name="ual" ns="$(arg ns_prefix)1" output="screen">
        <param name="uav_id" value="1"/>
        <param name="offboard_enabled" value="false"/>
        <param name="pose_frame_id" value="$(arg pose_frame_id)"/>
        <param name="ual_server" value="$(arg ual_server)"/>
        <param name="ual_pub_rate" value="$(arg ual_pub_rate)"/>
        <param name="mavros_offboard_rate" value="$(arg mavros_offboard_rate)"/>
        <param name="home_pose_parent_frame" value="map"/>
        <!-- default= map -->
        <!-- Define home pose relative to global map frame -->
        <rosparam param="home_pose">[0, 0, 0]</rosparam>        <!-- [x,y,z] -->
        <!-- Define the global map frame geo position and let the UAL estimate the relative home pose -->
        <!-- <rosparam param="map_origin_geo">[37.558542, -5.931074, 7.89]</rosparam> -->        <!-- [lat,lon,alt] -->
    </node>

    <!-- #######################    TF    ############################# -->    
    <!-- <node pkg="tf" type="static_transform_publisher" name="local_position_to_hokuyo" args="0.22 0 -0.2 0 -0.872665 3.14159 base_link laser 100" /> -->
    <node pkg="tf"      type="static_transform_publisher" name="world_to_map"     args="0 0 0 0 0 0 1 world map 100" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="tf_uav1_baselink" args="0 0 0 0 0 0 1 uav_1 base_link" />


    <!-- #######################  Hokuyo  ############################# -->
    
</launch>

