<launch>

    <!-- Posix SITL environment launch script -->
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="est" default="lpe"/>
    <arg name="vehicle" default="iris"/>
    <arg name="world" default="$(find architecture)/worlds/3D_puzzle_model.world"/>
    <arg name="sdf" default="$(find mavlink_sitl_gazebo)/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    <arg name="rcS" default="$(find px4)/posix-configs/SITL/init/$(arg est)/$(arg vehicle)"/>

    <arg name="headless" default="false"/>
    <arg name="gui" default="true"/>
    <arg name="ns" default="/"/>

    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>

    <param name="/use_sim_time" value="true" />

    <rosparam file="$(find architecture)/cfg/sim_hitl_params.yaml" command="load" />
    <!-- #########################  Rviz ######################################### -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find architecture)/rviz_configurations/exploration_ltstarPaths.rviz" />
    <!-- #########################  Robot  ######################################### -->
    <param name="robot_description" command="$(eval 'xacro --inorder ' + find('robots_description') + '/models/iris_hokuyo/model.xacro')"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="tf_uav1_baselink" args="0 0 0 0 0 0 1 uav_1 base_link" />
    <!-- #########################  UAL  ######################################### -->
    <include file="$(find uav_abstraction_layer)/launch/test_server.launch"/>
    <!-- #######################  Hokuyo  ############################# -->
    <node name="laser_filter" type="scan_to_cloud_filter_chain" pkg="laser_filters">
        <rosparam command="load" file="$(find architecture)/cfg/sim_hitl_params.yaml" />
        <param name="target_frame" value="base_link" />
        <remap from="cloud_filtered" to="free_cloud" />
        <remap from="scan" to="hokuyo_laser_scan" />
    </node>
    <!-- #######################  Octomap  ######################################## -->
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_builder" output="screen">
        <param name="frame_id" type="string" value="map" />
        <remap from="cloud_in" to="/free_cloud" />
        <param name="latch" value="false" />
        <param name="publish_free_space" value="true"/>
        <param name="sensor_model/max_range" value="50"/>
        <param name="sensor_model/hit" value="0.74"/>
        <param name="sensor_model/miss" value="0.48464"/>
        <param name="resolution" value="0.5" />
    </node>
    <!-- #######################  Architecture nodes  ############################# -->
    <!-- <node name="lazy_theta_star" type="ltStar_async_node" pkg="lazy_theta_star" output="screen" /> -->
    <!-- <node name="state_manager" type="state_manager_node" pkg="architecture" output="screen" /> -->
    <!-- <node name="frontier_cells" type="frontiers_async_node" pkg="frontiers" output="screen" /> -->
    <node name="middle_man_current_position" type="current_position_provider_node" pkg="architecture" output="screen" />
</launch>