<launch>
	<arg name="mav_name" default="euroc5"/>

	<include file="$(find launch_options)/launch/octree_and_gazebo_grvc_velodyne.launch">
		<arg name="mav_name" value="$(arg mav_name)"/>
		<arg name="map_resolution" value="0.1"/>
	</include>

	<!-- NODES -->
	<node pkg="thrun" type="mapper_node" name="mapper" output="screen" 
		args="-point_cloud_topic=/$(arg mav_name)/velodyne_points/down"/>
</launch>